/* Remove margens e paddings gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: justify;
}

.chapter {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.chapter img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

.about-image {
    max-width: 40%;
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Faz com que a imagem seja tratada como um bloco */
    margin-left: auto; /* Margem automática esquerda */
    margin-right: auto; /* Margem automática direita */
    margin-top: 1em; /* desce uma linha */
  }

  
